<html>
<head>
<title>{{title}}</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="icon" type="image/ico"href="{{url_for('static',filename='favicon.ico')}}">
<script>
function CloseError(){
    document.getElementById('chyba').style.display='none'

}
</script>
</head>
<body>
<div class="w3-container">
<h1>{{title}}</h1>
{%if chyba%}
<div id="chyba" class="w3-panel w3-red w3-auto w3-display-container" height="100">{{chyba}}<br><br><br><span class="w3-button w3-display-topright" onclick="CloseError()">&times;</span></div>
{%endif%}
<div id="vysledok" class="w3-card">
{{vysledok|safe}}
</div>
<footer><a href="/" class="w3-button w3-yellow w3-text-red w3-hover-red">Chod späť</a></footer></div>
</body>
</html>
